#welcome_jumbotron {
    margin-bottom: 0px;
    background-image: url(../images/welcome_background.jpg);
    width: 100%;
    height: 100%;
}

#error_jumbotron {
    margin-bottom: 0px;
    background-image: url(../images/welcome_background.jpg);
    width: 100%;
    height: 100%;
}

.form-background {
    background-image: url(../images/form_black.png);
    background-repeat: repeat;
}

#admin_main {
    background-image: url(../images/admin_main.jpg);
}

#user_main {
    background-image: url(../images/user_main.jpg);
}

#add-car {
    background: url(../images/admin_main.jpg);
}

body { padding-top: 50px; }

/**
Sign in form
**/

#auth-panel-default {
    opacity: 0.9;
    margin-top: 100px;
}

.form-group.last {
    margin-bottom:0px;
}